.tools
  .pause
.box-full
  .box-boder
  .box-zone
    .box-container
.counter {{ count }}
.magic-tools
  .target-empty
  .remove3-empty 
  .stop-load-empty
.action-layout(style="display:none;") 
  .pause-layout(style="display:none;")
    .text
      img(src="/img/UI_03_002.png")
    .action
      .stop
        div
          img.cover(src="/img/UI_03_004.png")
          img.shadow-a(src="/img/UI_03_004_shadow(005).png")
      .start-a
        div
          img.cover(src="/img/UI_03_003.png")
          img.shadow-a(src="/img/UI_03_003_shadow.png")
      .restart
        div
          img.cover(src="/img/UI_03_005.png")
          img.shadow-a(src="/img/UI_03_004_shadow(005).png")
    .sound
      .ss
        div
          img.cover(src="/img/UI_03_006.png")
          img.shadow-a(src="/img/UI_03_007_shadow(006).png")
      .music
        div
          img.cover(src="/img/UI_03_007.png")
          img.shadow-a(src="/img/UI_03_007_shadow(006).png")
  .stop-layout(style="display:none;") 
    .text
      img(src="/img/UI_04_001.png")
    .count {{ count }}
    .restart
      div
        img.cover(src="/img/UI_04_002.png")
        img.shadow-a(src="/img/UI_04_002_shadow.png")
    .desc 你已经超越了全国99%的人
    .reset
      div
        img.cover(src="/img/UI_03_004.png")
        img.shadow-a(src="/img/UI_03_004_shadow(005).png")

script(src='/js/main.js')
