doctype html
html(ng-app="PopTile")
    head
    title !{title}
    meta(charset="utf-8")
    meta(name="description", content="#{title}")
    meta(content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0", name="viewport")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="author", content="tokune")
    link(rel="icon", href="/favicon.ico", type="image/x-icon")
    link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
    link(rel="stylesheet", href="http://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap.min.css")
    link(rel="stylesheet", href="/css/main.css")
    block head
  body
    block body

  script(src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js")
  script(src="http://cdn.bootcss.com/bootstrap/3.2.0/js/bootstrap.min.js")
  script(src="http://cdn.staticfile.org/angular.js/1.2.18/angular.min.js")
  script(src="http://cdn.staticfile.org/angular.js/1.2.18/angular-route.js")
  block script




